<!DOCTYPE html>
<html lang="en">
<head>
  <title> Putext : The pad you need </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/util.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  
</head>
<body>
  <div class="bg-contact2" style="background-image: url('/static/images/bg-01.jpg');">
    <div class="container">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}    
          <input type="submit" value="Convert to pdf" class="btn btn-success"/> 
        </form>      
    </div>-
  </div>
<footer><center><h3>Made with Love by Rupesh Harode</h3></center></h1></footer>
<!-- Bootstrap JS and JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
