<!DOCTYPE html>
<html lang="en">
<head>
  <title> Putext : The pad you need </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}    
      <a href="/pdf" class="btn btn-default">Go to Google</a>
    </form>
    <h1>{{ text }}</h1>      
    {% for post in posts %}
      <h1>{{ post.text_input }}</h1>
    {% endfor %}
</div>

</body>
</html>
